* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.header__container {
    max-width: 1280px;
    margin: auto;
}
.container {
    max-width: 1057px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
}
@media screen and (max-width: 570px) {
    .header__container {
        padding: 0 20px;
    }
    .container {
        padding: 0 20px;
    }
    
}