.construction {
    padding-top: 142px;
    &__row {
        text-align: center;
    }
    h3 {
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 48px;
        color: #212B31;
        padding-bottom: 20px;
    }
    p {
        max-width: 1025px;
        margin: auto;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #72787D;
        padding-bottom: 40px;
    }
}
@media screen and (max-width:570px) {
    .construction {
        padding-top: 0;
        h3 {
            font-size: 22px !important;
            padding-bottom: 0;
        }
        p {
            line-height: 28px !important;
            font-size: 13px !important;
            padding-bottom: 0;
        }
        img {
            width: 100%;
            
        }
        
    }
}