.header {
    padding-top: 34px;
    padding-left: 30px;
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        display: flex;
        align-items: center;
    }
    &__type {
        padding-left: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        text-transform: uppercase;
        color: #212B31;
    }
    .nav {
        &__menu {
            display: flex;
            align-items: center;
        }
        &__item {
            display: flex;
            justify-content: space-between;
        }
        &__link {
            margin-left: 20px;
            color: #72787D;
            &:hover {
                color:  #036FC7;
            }
        }
        &__type {
            padding-left: 20px;
        }
        &__btn {
            cursor: pointer;
            padding: 10px 30px;
            color: white;
            background-color: #212B31;
            outline: none;
            border-radius: 8px;
        }
    }
}

