.companies{

  padding: 136px 174px;
    
// &__row{
//   transform: translateX(-6%);
// }

&__item{
  margin-left: 184px;
}

&__description{
  text-align: center;
}

&__img{
  margin: 46px 302px;
}
}
